{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div id="margin-t" class="container">
        <h1 class="text-light text-center mb-5">Détail de l'annonce</h1>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in annonce.images %}
                    {% if loop.first %}
                        <div class="carousel-item active">
                            <img src="{{ asset(('./uploads/images/annonces/' ~ image.name)|imagine_filter('banniere')) }}" class="d-block w-100" alt="{{ annonce.title }}">
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <img src="{{ asset(('./uploads/images/annonces/' ~ image.name)|imagine_filter('banniere')) }}" class="d-block w-100" alt="{{ annonce.title }}">
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="card mb-3 mx-auto w-75 bg-transparent border-0 text-light" >
        <div class="row g-0">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="card-body mx-3">
                    <h5 class="card-title">{{ annonce.title }}</h5>
                    <p>Catégorie : {{ annonce.categories.name }}</p>
                    <p class="card-text">Date de création : {{ annonce.createdAt ? annonce.createdAt|date('d-m-Y H:i:s') : '' }}</p>
                    <p class="card-text">{{ annonce.content|raw}}</p>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://kit.fontawesome.com/656b2e3df2.js" crossorigin="anonymous"></script>
{% endblock %}
