{% extends 'base/rebase.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div id="margin-t" class="container">
        {% for annonce in annonces %}
            <h1 class="text-light text-center mb-5">{{ annonce.categories.name }}</h1>
                <div class="card mb-3 w-75 bg-transparent border-0 text-light" >
                    <div class="row g-0">
                        <div class="col-md-4">
                        {% if annonce.images[0] is defined %}
                            <img src="{{ asset(('./uploads/images/annonces/' ~ annonce.images[0].name)|imagine_filter('square')) }}" alt="{{ annonce.title }}">
                        {% else %}
                            <img src="{{ asset('./uploads/images/annonces/vac.jpg') }}" alt="{{ annonce.title }}" style="max-width: 290px;">
                        {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ annonce.title }}</h5>
                                <p>Catégorie : {{ annonce.categories.name }}</p>
                                <p class="card-text">{{ annonce.content|striptags|u.truncate(70, '...')|raw }}</p>
                                <a href="{{ path('annonces_detail',{slug: annonce.slug}) }}"> Voir l'annonce</a>
                            </div>
                        </div>
                    </div>
                </div>    
        {% endfor %}
    </div>
    {% include 'base/footer.html.twig' %}   
{% endblock %}
