{% extends 'base.html.twig' %}

{% block title %}Index des annonces{% endblock %}

{% block body %}
    <div id="margin-t1" class="container text-center">
        <h1 class="text-light">Index des annonces</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Content</th>
                        <th>CreatedAt</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for annonce in annonces %}
                        <tr>
                            <td>{{ annonce.id }}</td>
                            <td>{{ annonce.title }}</td>
                            <td>{{ annonce.slug }}</td>
                            <td>{{ annonce.content|striptags|raw  }}</td>
                            <td>{{ annonce.createdAt ? annonce.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('admin_annonces_show', {'id': annonce.id}) }}">Voir</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucune annonce</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                <div><a class="btn btn-success mt-2 border-light" href="{{ path('admin_annonces_dash_new') }}">Créer une annonce</a></div>  
                <div><a class="btn btn-primary mt-2 mb-4 border-light" href="{{ path('admin_home') }}">Retour administration</a></div>
    </div>
{% endblock %}
