{% extends 'user.html.twig' %}

{% block body %}

  <h1 class="text-center mt-5 text-light">Annonces de {{ app.user.firstname}} {{ app.user.name}} ({{ app.user.annonces|length }})</h1>
    <div class="container">
      {% for annonce in app.user.annonces %}
        <div class="row mt-4 mx-auto">
            <div class="col-2">
                Titre :
            </div>
            <div class="col-10">
              {{ annonce.title}}
              <a href="{{ path('annonces_edit',{'id': annonce.id} )}}">Modifier ou supprimer</a>
            </div>  
        </div>   
      {% endfor %}
    </div>
{% endblock %}

      